@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Noto+Serif+TC:wght@700&display=swap');

.address-btn{
    margin: 1rem;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 300px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.display_font{
    font-family: 'Cabin Sketch', cursive;;
    font-size: 2rem;
}

.chinese_font{
    font-family: 'Noto Serif TC', serif;
}

.navbar-brand{
    color: #fff;

}

#account{
    margin: 0 1rem 0 0 ;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand p{
    margin-bottom: 0;
}