@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Noto+Serif+TC:wght@700&display=swap');

.address-btn{
    margin: 1rem;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    background-color: orange;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.display_font{
    font-family: 'Cabin Sketch', cursive;;
    font-size: 2rem;
}

.chinese_font{
    font-family: 'Noto Serif TC', serif;
}